﻿@model Sdrm.Core.Entities.Location

@{
    ViewData["Title"] = "Edit a location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    You may alter safety discussion location information below
    <a asp-action="Index" class="float-right">Back to location list</a>
}

<section class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info btn-block" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
