﻿@model IEnumerable<Sdrm.Core.Entities.Location>

@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    Below are list of locations you can select in creating safety discussions
    <a asp-action="Create" class="float-right">Create New Location</a>
}

<section class="mt-5">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ToList().Count == 0)
            {
                <tr>
                    <td colspan="6">
                        <small><i>No location record found.</i></small>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>
