﻿@{
    ViewData["Title"] = "Discussion Portal";
}

@section PageTitle{
    ussion Portal
}

@section PageDescription{
    Welcome!
    This page allows you to manage security discussions
}

    <section>
        <div class="row">
            <div class="col-12">
                <h4>Step 1: Add Locations</h4>
                <small>Location is mandatory in creating safety discussion record</small>
                <br />
                <a class="small" asp-area="" asp-controller="Locations" asp-action="Create">Click here to start adding locations</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h4>Step 2: Add Attendees</h4>
                <small>Each safety discussion can have multiple attendees. Attendees are from list of users. Hence, you have to add user record in order to register discussion attendee</small>
                <br />
                <a class="small" asp-area="" asp-controller="ApplicationUsers" asp-action="Create">Click here to start adding users</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h4>Step 3: Finally, create a safety discussion</h4>
                <small>Once above steps are completed, you can now start creating safety discussion</small>
                <br />
                <a class="small" asp-area="" asp-controller="Discussions" asp-action="Create">Click here to start creating safety discussion</a>
            </div>
        </div>
    </section>