﻿@model Sdrm.Core.Entities.Discussion

@{
    ViewData["Title"] = "Create new discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    You may create safety discussion by providing required information below
    <a asp-action="Index" class="float-right">Back to discussion list</a>
}

<section>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Date of Discussion</label>
                    <input asp-for="Date" class="form-control" id="discussionDate" type="text" data-provide="datepicker-inline" readonly value="" aria-label="Date of Discussion" />
                    <small><span asp-validation-for="Date" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label">Location</label>
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                    <small><span asp-validation-for="LocationId" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <small><span asp-validation-for="Subject" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info btn-block" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $('#discussionDate').datepicker({
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd',

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
