﻿@model Sdrm.Core.Entities.Discussion

@{
    ViewData["Title"] = "Discussion Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    Below are safety discussion information recorded by an observer
    <a asp-action="Index" class="float-right">Back to discussion list</a>
}
<section>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @String.Format("{0:yyyy'/'MM'/'dd}", Model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Summary)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>

