﻿@model Sdrm.Web.Models.DiscussionViewModel

@using Microsoft.AspNetCore.Identity
@using Sdrm.Core.Entities

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    You may alter safety discussion information below
    <a asp-action="Index" class="float-right">Back to discussion list</a>
}

<section class="mt-5">
    <div class="row">
        <div class="col-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" id="discussionDate" type="text" data-provide="datepicker-inline" readonly aria-label="Date of Discussion" value="@String.Format("{0:yyyy'/'MM'/'dd}", Model.Date)" />
                        <small><span asp-validation-for="Date" class="text-danger"></span></small>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LocationId" class="control-label">Location</label>
                        <select asp-for="LocationId" class="form-control" asp-items="Model.Locations"></select>
                        <small><span asp-validation-for="LocationId" class="text-danger"></span></small>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <small><span asp-validation-for="Subject" class="text-danger"></span></small>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Summary" class="control-label"></label>
                        <textarea asp-for="Summary" class="form-control" placeholder="Add discussion outcome summary here..."></textarea>
                    </div>
                    <div class="form-group offset-8 col-4">
                        <input type="submit" value="Save" class="btn btn-info btn-block" />
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12">
            <hr />
            <h5>Attendees</h5>
            <small>Please select an attendee below to register them on this safety discussion</small>
            <form asp-action="SaveAttendee" class="mt-4">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-8">
                        <select asp-for="AttendeeId" class="form-control" asp-items="Model.Attendee">
                            <option value="0">-- select attendee --</option>
                        </select>
                        <small><span asp-validation-for="AttendeeId" class="text-danger"></span></small>
                    </div>
                    <div class="form-group col-4">
                        <input type="submit" value="+ Add Attendee" class="btn btn-info btn-block align-text-bottom" />
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12 mt-3">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>First name</th>
                        <th>Middle name</th>
                        <th>
                            Last name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Attendees.Count == 0)
                    {
                        <tr>
                            <td colspan="6">
                                <small><i>No one attended this discussion.</i></small>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Attendees)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Attendee.Firstname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Attendee.MiddleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Attendee.Lastname)
                                </td>
                                <td>
                                    <form asp-action="DeleteAttendee">
                                        <input type="hidden" asp-for="Id" value="@item.Id" />
                                        <input type="submit" value="Remove" class="form-control btn btn-danger" />
                                    </form>
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

@section Scripts {
    <script>
        $('#discussionDate').datepicker({
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy/mm/dd',

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
