﻿@model IEnumerable<Sdrm.Core.Entities.Discussion>

@{
    ViewData["Title"] = "Discussions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
    @ViewData["Title"]
}
@section PageDescription {
    Below are list of disucssions created by observers
    <a asp-action="Create" class="float-right">Create New Discussion</a>
}

<section class="my-5">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ToList().Count == 0)
            {
                <tr>
                    <td colspan="6">
                        <small><i>No discussion record found.</i></small>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @String.Format("{0:yyyy'/'MM'/'dd}", item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</section>
