﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@section PageTitle{
    @ViewData["Title"]
}

@section PageDescription{
    Please provide username and password to proceed.
}
<section>
    <div class="row">
        <div class="col-lg-8 col-md-4 d-none d-lg-block">
            <img src="~/images/safety-background.png" class="img-fluid"/>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control p-4" placeholder="Username"/>
                    <small><span asp-validation-for="Input.Username" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control p-4" placeholder="Password"/>
                    <small><span asp-validation-for="Input.Password" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-block text-white btn-lg">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register new user</a>
                        <a asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" class="float-right">Forgot password</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
